@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

/* header section styles */

.header-section {
  background-image: url("../images/banner/banner2.png");
  height: 800px;
  padding: 200px;
}
.banner {
  float: right;
}
.section-title {
  width: 525px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  margin-bottom: 24px;
  color: #151414;
}
.section-description {
  color: #444343;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 494px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.primary-btn {
  padding: 20px 25px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  background: #f15b22;
  border: none;
  border-radius: 5px;
  float: right;
}
/* all sections for this class */
.container {
  margin: 130px auto;
  width: 1140px;
}
/* My failures of previous year section styles */
.my-failures-section {
  display: flex;
  align-items: center;
  gap: 80px;
}
.mf-right-section {
}
.mf-right-section .section-title {
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  width: 288px;
}
.mf-right-section .section-description {
  text-align: left;
  margin-left: 0;
}
.mf-right-section ul {
  padding: 0;
}
.mf-right-section ul li {
  list-style: none;
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}
.mf-right-section ul li > i{
  margin-right: 10px;
  color: #16D887;
}